<html>
<body>
     <% for(var i=0; i < faculty.length; i++) { %>
     <%= faculty.email%> already exists!
     <% } %>
</body>
<style>
     body{
          font-size : 25px;
          border:2px solid black;
          background:linear-gradient(#07F5F5,white);
          text-align:center;
     }
</style>
</html>
