<!DOCTYPE html>
<html>

<body>
     <div class="frame">
    <table class="class-list-table" cellpadding="2px" cellspacing="3px">
        <thead>
            <tr>
                <th>Class ID</th>
                <th>Subject</th>
                <th>Faculty ID</th>
            </tr>
        </thead>

        <tbody>
            <% for(var i=0; i < classes.length; ++i) {%>
                <tr>
                    <td>
                        <%= classes[i].class_id %>
                    </td>
                    <td>
                        <%= classes[i].subject %>
                    </td>
                    <td>
                        <%= classes[i].faculty_id %>
                    </td>
                </tr>
                <% } %>
        </tbody>
   </table><br><br>

    <form method="post" action="/dashboard/classes/upload_csv">
        <label for="class_id">Enter Class ID</label>
        <input type="number" name="class_id" id="class_id">
        <input type="submit" value="Upload CSV" />
   </form><br>

    <form method="post" action="/dashboard/classes/class-details">
        <label for="class_id">Enter Class ID</label>
        <input type="number" name="class_id" id="class_id">
        <input type="submit" value="Get summary" />
    </form>
</div>
</body>

<style>
     body{
          background:linear-gradient(#07F5F5,white);
     }

     .frame{
          position:absolute;
          top:50%;
          left:50%;
          transform: translate(-50%,-50%);
          text-align:center;
     }
     .form {
          font-family:calibri;
          font-size:25px;
          /*border:2px solid black;
          border-radius:50px;*/
          padding:50px 15px;
          /*background:linear-gradient(#FFC9FD,white);*/
     }
     table{
          border: 1px solid black;
          border-radius: 5px;
     }
</style>
</html>
