<html>
	<body>
			Sucessfully registered, Welcome! <% for(var i=0; i < given.length; i++) { %>
			<%= (given[0].first_name) ? given[0].first_name : '' %>
			<%= (given[0].last_name) ? given[0].last_name : '' %>
			<% } %>
			<br>
			Your Faculty Id is <b>
				<%= (given[0].faculty_id) ? given[0].faculty_id : '' %>
			</b>
			<br><br>
			<form method="POST" action="new_class">
       			<input type="submit" value="New class"/>
			</form>

			<form method="POST" action="new_lecture">
                        <input type="submit" value="New lecture"/>
			</form>

			<form method="POST" action="upload_csv">
                        <input type="submit" value="Upload CSV"/>
			</form>

			<form method="POST" action="get_summary">
                        <input type="submit" value="Get summary"/>
			</form>
	</body>
	<style>
		body{
			font-size : 25px;
			border:2px solid black;
			background:linear-gradient(#07F5F5,white);
			position:absolute;
	          top:50%;
	          left:50%;
	          transform: translate(-50%,-50%);
	          text-align:center;
		}

	</style>
</html>
