<html>
	<body>
		<% if(given.first_name==fetched.first_name && given.last_name==fetched.last_name && given.password==fetched.password) {%>
			Welcome! <br><br>
			<form method="POST" action="new_class">  
       			<input type="submit" value="New class"/>
			</form>
	
			<form method="POST" action="new_lecture">
                        <input type="submit" value="New lecture"/>
			</form>

			<form method="POST" action="upload_csv">
                        <input type="submit" value="Upload CSV"/>
			</form>

			<form method="POST" action="get_summary">
                        <input type="submit" value="Get summary"/> 
			</form>
		<%} else {%>
			<p>Invalid name or password! </p>
		<%} %>
	</body>
</html>
