<html>
	<body>
		<%= server %>
		<% if(server.length>0 && user.first_name==server[0].first_name && user.last_name==server[0].last_name && user.password==server[0].password) {%>
			Welcome! <%= (user[0].first_name) ? user[0].first_name : '' %>
			<%= (user[0].last_name) ? user[0].last_name : '' %>
			<br><br>
			<form method="POST" action="new_class">  
       			<input type="submit" value="New class"/>
			</form>
	
			<form method="POST" action="new_lecture">
                        <input type="submit" value="New lecture"/>
			</form>

			<form method="POST" action="upload_csv">
                        <input type="submit" value="Upload CSV"/>
			</form>

			<form method="POST" action="get_summary">
                        <input type="submit" value="Get summary"/> 
			</form>
		<%} else{%>
			<p>Invalid name or password! </p>
		<%} %>
	</body>
</html>
