<html>
     <body>
          New class created! <br>
          Your Class Id is <b>
               <%= (given[0].class_id) ? given[0].class_id : '' %>
          </b>
          <br><br>
          <p>Being redirected to student info page....</p>
          <script>
          setTimeout(function () {
          // after 5 seconds
          window.location = "/new-student";
     }, 5000)
     </script>
     </body>
     <style>
		body{
			font-size : 25px;
			border:2px solid black;
			background:linear-gradient(#07F5F5,white);
			position:absolute;
	          top:50%;
	          left:50%;
	          transform: translate(-50%,-50%);
	          text-align:center;
			padding : 25px 25px;
		}
          p {
               font-size : 20px;
          }

	</style>
</html>
