<html>
     <title>Student detail successful</title>
     <body>
          <div class="frame">
               Student details successfullly inserted!
          </div>
     </body>
     <style>
          body{
               background:linear-gradient(#07F5F5,white);
          }
          .frame{
               position:absolute;
               top:50%;
               left:50%;
               transform: translate(-50%,-50%);
               text-align:center;

          }
          b{
               font-size:30px;
          }

     </style>
</html>
